<div class="container" *ngIf="category">
    <div class="clearfix">
        <div class="pull-left">
            <h3>Edit category: {{category.name}}</h3>
        </div>
        <div class="pull-right" style="padding-top: 20px">
            <a [routerLink]="['CategoryDetail', {id: category.id}]" class="btn btn-info">Back</a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <form class="col-sm-12 col-md-6" (ngSubmit)="onSubmit()" [ngFormModel]="form">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control input-md" placeholder="Category" ngControl="name">
                <div [hidden]="name.valid  || name.pristine" class="alert alert-danger">
                    Field "name" is required
                </div>
            </div>
            <div class="form-group">
                <label>Competitors' birth year</label>
                <div class="row">
                    <div class="col-sm-6">
                        from <input type="text" class="form-control input-md" placeholder="Year of birth" ngControl="yearFrom">
                        <div [hidden]="yearFrom.valid  || yearFrom.pristine" class="alert alert-danger">
                            Field "from" is required
                        </div>
                    </div>
                    <div class="col-sm-6">
                        to <input type="text" class="form-control input-md" placeholder="Year of birth" ngControl="yearTo">
                        <div [hidden]="yearTo.valid  || yearTo.pristine" class="alert alert-danger">
                            Field "to" is required
                        </div>
                    </div>
                </div>
                <span class="help-block">Category age limit. Please enter the birthyears (from-to) for every age category.</span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
        </form>
    </div>
</div>
