<div class="container" *ngIf="category">
    <div class="clearfix">
        <div class="pull-left">
            <h3>Category: {{category.name}}</h3>
        </div>
        <div class="pull-right" style="padding-top: 20px">
            <a [routerLink]="['CategoryEdit', {id: category.id}]" class="btn btn-default">Edit category</a>
            <a [routerLink]="['RouteAdd', {cat_id: category.id}]" class="btn btn-default">Add route</a>
            <a [routerLink]="['Categories']" class="btn btn-info">Back to list</a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <cc-route-list></cc-route-list>
        <hr>
        <div class="container">
            <cc-competitor-list></cc-competitor-list>
        </div>
    </div>
</div>
