<form autocomplete="off" *ngIf="doc" class="mat-form">
  <mat-form-field>
    <input matInput [(ngModel)]="doc.routeSetter" [autofocus]="true" required name="routeSetter" placeholder="Route setter">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="doc.time" minlength="1" maxlength="2" name="time" placeholder="Allowed time">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="doc.name" name="name" placeholder="Name">
  </mat-form-field>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)=onSave()>Save</button>
    <button mat-button [routerLink]="['/category/details', category]">Back</button>
  </div>
</form>
